<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.studystream">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name=".Base.DataBase.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePassword.ChangePasswordActivity"></activity>
        <activity android:name=".CoursesStatistics.CourseStatisticsActivity" />
        <activity android:name=".EditBio.EditBioActivity" />
        <activity android:name=".Answers.AddAnswer.AddAnswerActivity" />
        <activity android:name=".Questions.AddQuestion.AddQuestionActivity" />
        <activity android:name=".Answers.QuestionAnswers.QuestionAnswersActivity" />
        <activity android:name=".Questions.LessonQuestions.LessonQuestionsActivity" />
        <activity android:name=".CourseDetails.Materials.EditMaterial.EditMaterialActivity" />
        <activity android:name=".CourseDetails.Lessons.NewLesson.NewLessonActivity" />
        <activity android:name=".CourseDetails.Materials.NewMaterial.NewMaterialActivity" />
        <activity android:name=".CourseDetails.Announcements.NewAnnouncement.NewAnnouncementActivity" />
        <activity android:name=".CourseDetails.CourseDetailsActivity" />
        <activity android:name=".JoinCourse.JoinCourseActivity" />
        <activity
            android:name=".NewCourse.NewCourseActivity"
            android:label="@string/title_activity_new_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CoursesHomePage.CoursesHomePageActivity" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>